:root{
    --cor0: #0a36af;
    --cor1: #894DEF;
}

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: var(--cor0);
}

.perfil{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.lista{
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    margin: 5% auto;
    border: solid 2px #894DEF;
    width: 55px;
}